<div class="author">
  <div class="author-img">
    <img src="assets/team4.jpg" />
  </div>
  <h3 class="author-name">RYAN AUSTIN</h3>
  <p class="author-about">
    Lorem ipsum dolor sit amet, nec eim admodum intellegat eu, ad vim solum
    percipitur, duo ullum.
  </p>
</div>
<div class="categories">
  <h3 class="title">CATEGORIES</h3>
  <ul>
    <li>Journal</li>
    <li>News</li>
    <li>Travel</li>
  </ul>
</div>
<div class="last-posts">
  <h3 class="title">LATEST POSTS</h3>
  <div class="items">
    <div class="item" *ngFor="let i of [1, 2, 3]">
      <img src="assets/img9.jpg" />
      <div class="item-info">
        <h3>ALL ALONE</h3>
        <h5>06 OCTOBER, 2019</h5>
      </div>
    </div>
  </div>
</div>
<div class="archives">
  <h3 class="title">ARCHIVES</h3>
  <ul>
    <li>November 2019</li>
    <li>October 2019</li>
    <li>September 2019</li>
    <li>August 2019</li>
  </ul>
</div>
