:host {
  flex: 2;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.4;
  .title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .author {
    .author-img {
      margin-bottom: 1rem;
    }
    .author-name {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 8px;
    }

    .author-about {
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
  }
  .last-posts {
    .items {
      .item {
        margin: 15px 0;
        display: flex;
        align-content: flex-start;
        gap: 1rem;
        img {
          width: 90px;
          height: 90px;
        }
        .item-info {
          h3 {
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 0.5rem;
          }
          h5 {
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 0.7rem;
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
}
