// Variables
$bg-color: #faeedd;

// Utilities
.container {
  max-width: 1240px;
  margin: auto;
  overflow: hidden;
}
// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Global styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $bg-color;
  font-family: Roboto, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
