<div class="container">
  <ng-container *ngIf="blogPosts.length !== 0; else spinner">
    <div class="showcase">
      <div class="showcase-img">
        <a routerLink="/posts/{{ blogPosts[0].id }}">
          <img [src]="blogPosts[0].imageUrl" />
        </a>
      </div>
      <div class="showcase-details">
        <p class="showcase-date">6 NOVEMBER</p>
        <h1 class="showcase-title">
          <a routerLink="/posts/{{ blogPosts[0].id }}">
            {{ blogPosts[0].title }}
          </a>
        </h1>
        <p class="showcase-text" [innerHTML]="blogPosts[0].preview"></p>
        <p class="showcase-author">BY <span>IVES KLEIN</span></p>
      </div>
    </div>

    <!-- FEATURED POSTS  -->
    <div class="featured">
      <h3 class="featured-title">FEATURED POSTS</h3>
      <div class="posts">
        <div class="post" *ngFor="let i of [1, 2]">
          <div class="post-img">
            <a routerLink="/posts/{{ blogPosts[i].id }}">
              <img [src]="blogPosts[i].imageUrl" />
            </a>
          </div>
          <h3 class="post-title">
            <a routerLink="/posts/{{ blogPosts[i].id }}">
              {{ blogPosts[i].title }}
            </a>
          </h3>
          <p class="post-author">BY <span>LE MAGAZINE</span></p>
        </div>
      </div>
    </div>

    <!-- ALL POSTS  -->
    <div class="all-posts">
      <h3 class="title">LEW’S INTEREST STRETCH FURTHER</h3>

      <div class="posts">
        <ng-container *ngFor="let post of blogPosts | slice: 3">
          <div class="post">
            <div class="post-img">
              <a routerLink="/posts/{{ post.id }}">
                <img [src]="post.imageUrl" />
              </a>
            </div>
            <h3 class="post-title">
              <a routerLink="/posts/{{ post.id }}">
                {{ post.title }}
              </a>
            </h3>
            <p class="post-preview" [innerHTML]="post.preview"></p>
            <p class="post-date">01 OCTOBER, 2019</p>
          </div>
        </ng-container>
      </div>
      <div class="more" *ngIf="showMoreButton">
        <a (click)="showMore()">VIEW MORE</a>
      </div>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="spinner">
      <app-spinner color="#000"></app-spinner>
    </div>
  </ng-template>
</div>
