<div class="container">
  <div id="search" *ngIf="showSearchBox">
    <div class="input-group">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        #myInput
        (keyup.enter)="doSearch(myInput.value)"
        type="text"
        placeholder="Search"
      />
    </div>
    <div class="close-search">
      <a (click)="toggleSearchBox()"><i class="fa-solid fa-xmark"></i></a>
    </div>
  </div>
  <nav>
    <h1 class="logo"><a routerLink="">Vagabond.</a></h1>
    <div class="latest">
      <a routerLink=""> Check out our latest news</a>
    </div>
    <ul class="main-menu">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="">Login</a></li>
    </ul>
    <div class="side-menu">
      <a routerLink="/contact"><i class="fa-solid fa-envelope"></i></a>
      <a (click)="toggleSearchBox()"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
    </div>
  </nav>
</div>
